<footer class="footer">
    <div class="footer-content">
      <div class="footer-logo">
        <img src="/assets/img/logo.png" alt="Logo Pokémon" class="footer-logo-img" (click)="navegarALandingPage()">
      </div>
      <div class="footer-links">
        <h3>Enlaces</h3>
        <ul>
          <li><a href="javascript:void(0)" (click)="navegarAPokedex()">Pokédex</a></li>
          <li><a href="javascript:void(0)" (click)="navegarACrearEquipo()">Crear Equipo</a></li>
          <li><a href="javascript:void(0)" (click)="navegarAMisEquipos()">Mis Equipos</a></li>
        </ul>
      </div>
      <div class="footer-info">
        <h3>Acerca de</h3>
        <p>Este proyecto es un Trabajo de Fin de Grado de desarrollo web con Angular.</p>
        <p>Pokémon y todos los nombres relacionados son marcas registradas por The Pokémon Company.</p>
      </div>
    </div>
    <div class="footer-copyright">
      <p>© 2025 - Proyecto Angular Pokémon</p>
    </div>
</footer>