<nav class="navbar">
  <div class="navbar-left">
    <a class="navbar-logo" routerLink="/">
      <img src="/assets/img/logo.png" alt="Logo Pokémon" height="40">
    </a>
    <a class="navbar-link" routerLink="/">Inicio</a>
    <a class="navbar-link" routerLink="/pokedex">Pokédex</a>
  </div>
  <div class="navbar-right">
    <a class="navbar-user" routerLink="/login" title="Iniciar sesión o crear cuenta">
      <img src="/assets/img/user-icon.png" alt="Usuario" height="32">
    </a>
  </div>
</nav>
