<div class="login">
  
    <form (ngSubmit)="onSubmit()" class="form">
      <h1>Iniciar sesión</h1>
      
        <label for="email">Correo electrónico:</label>
        <input type="email" id="email" [(ngModel)]="email" name="email" required />
        <br>
        <br>
        <label for="contrasena">Contraseña:</label>
        <input type="password" id="contrasena" [(ngModel)]="contrasena" name="contrasena" required />
      
      <button type="submit" class="submit">Iniciar sesión</button>
      <button type="submit" class="registrar" (click)="irARegistro()">Registrate</button>
      
    </form>
    <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  </div>
